<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Data</title>
</head>
<body>
<h2>Gym Data</h2>
<table border="1">
    <thead>
    <tr>
        <th>Gym Name</th>
        <th>Weekday</th>
        <th>Coach Name</th>
        <th>Members</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${gymData}">
        <td th:text="${data.gym.name}"></td>
        <td th:text="${data.dofwk}"></td>
        <td th:text="${data.coach.name}"></td>
         <td th:text="${data.member.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>